h1{
    text-align: center;
    background-color: brown;
    padding-bottom: 20px;
    font-family: "Bungee Shade", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.intro-content h2{
    margin-top: 50px;
    margin-left: 25px;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
    
}

.intro-content p{
    margin-left: 25px;
    font-family: "Saira Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    
}

h3{
    margin-left: 25px;
    padding-top: 70px;
    padding-bottom: 20px;
    font-family: "Pirata One", system-ui;
    font-weight: 100;
    font-style: normal;
}

h4{
    font-family: "Saira Condensed", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.row p{
    font-family: "Saira Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.about-me h2{
    margin-left: 25px;
    padding-top: 5px;
    padding-bottom: 20px;
    font-family: "Pirata One", system-ui;
    font-weight: 100;
    font-style: normal;
}