h1{
    text-align: center;
    background-color: brown;
    padding-bottom: 20px;
    font-family: "Bungee Shade", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.intro-content h2{
    margin-top: 50px;
    margin-left: 25px;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
    
}

.intro-content p{
    margin-left: 25px;
    font-family: "Saira Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    
}

h3{
    margin-left: 25px;
    padding-top: 70px;
    padding-bottom: 20px;
    font-family: "Pirata One", system-ui;
    font-weight: 100;
    font-style: normal;
}

h4{
    font-family: "Saira Condensed", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.row p{
    font-family: "Saira Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.about-me h2{
    margin-left: 25px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: "Pirata One", system-ui;
    font-weight: 100;
    font-style: normal;
}

.edu-content h2{
    margin-left: 25px;
    padding-top: 60px;
    padding-bottom: 20px;
    font-family: "Pirata One", system-ui;
    font-weight: 100;
    font-style: normal;
}
.skills-content h2{
    margin-left: 25px;
    padding-top: 60px;
    padding-bottom: 20px;
    font-family: "Pirata One", system-ui;
    font-weight: 100;
    font-style: normal;
}
.contact-content h2{
    margin-left: 25px;
    padding-top: 60px;
    padding-bottom: 20px;
    font-family: "Pirata One", system-ui;
    font-weight: 100;
    font-style: normal;
}

.about-me p{
    font-family: "Saira Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    
    
}

.edu-content h3{
    font-family: "Saira Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    margin-left: 0%;
    padding-top: 0%;
    
}

.edu-content p{
    font-family: "Saira Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    
}

.skills-content h3{
    font-family: "Saira Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    margin-left: 0%;
    padding-top: 0%;
}

.mt-2 {
    font-family: "Saira Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;

}

.contact-content p{
    font-family: "Saira Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    
}

.list-block {
    background-color: #f0f8ff;
    padding: 20px;
    border-radius: 10px;
}

.list-block .list-group-item {
    background-color: transparent;
    border: none;
   
}

.features{
    font-family: "Saira Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;

}

article h5{
    font-family: "Saira Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}

.row {
    padding-bottom: 60px;

}

.mb-5{
    font-family: "Pirata One", system-ui;
    font-weight: 100;
    font-style: normal;
}

.card-t {
    font-family: "Saira Condensed", sans-serif;
    font-weight: 800;
    font-style: normal;
    margin-left: 0%;
    padding-top: 0%;
}
