h1{
    text-align: center;
    background-color: brown;
    padding-bottom: 20px;
}

.intro-content h2{
    margin-top: 50px;
    margin-left: 25px;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
}

.intro-content p{
    margin-left: 25px;
}

